/* line 11, sass/main.scss */
body {
  background: rgba(211, 211, 211, 0.23);
  position: relative;
}

/* line 16, sass/main.scss */
img {
  max-width: 20px;
}

/* line 20, sass/main.scss */
.review_wrp {
  margin-bottom: 10px;
  width: 100%;
  float: left;
}

/* line 26, sass/main.scss */
.review_inner {
  width: 100%;
  margin: auto;
  max-width: 1240px;
}
/* line 35, sass/main.scss */
.review_inner .pagination {
  display: block;
  float: right;
  font-family: "Roboto", sans-serif;
}
/* line 41, sass/main.scss */
.review_inner .pagination a.pageBtn {
  padding: 10px;
  background: #599226;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
/* line 51, sass/main.scss */
.review_inner form.ccr_write {
  display: block;
  float: left;
  margin: 10px 0;
}
/* line 56, sass/main.scss */
.review_inner form.ccr_write input.write_btn {
  padding: 12px;
  font-family: "Roboto", sans-serif;
  background: #599226;
  box-sizing: unset;
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}
/* line 66, sass/main.scss */
.review_inner form.ccr_write input.write_btn:hover {
  background: #426d1b;
  transition: ease-in .5s;
  -webkit-transition: ease-in .5s;
}
/* line 74, sass/main.scss */
.review_inner p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 900;
}
/* line 82, sass/main.scss */
.review_inner .ccr_main_row, .review_inner .ccr_review_row {
  background: #fff;
  display: block;
  float: left;
  width: 100%;
  border: 1px solid #969696;
}
/* line 92, sass/main.scss */
.review_inner .ccr_main.ccr_left {
  font-weight: 900;
  text-align: center;
}
/* line 97, sass/main.scss */
.review_inner .ccr_main .ccr_main_recommend {
  font-size: 56px;
}
/* line 103, sass/main.scss */
.review_inner .ccr_left {
  width: 20%;
  display: inline-block;
  float: left;
  margin: 15px;
}
/* line 110, sass/main.scss */
.review_inner .ccr_right {
  display: inline-block;
  float: left;
  padding-left: 40px;
  border-left: 2px dashed #000;
  min-height: 101px;
  width: 60%;
  margin: 15px;
}
/* line 119, sass/main.scss */
.review_inner .ccr_right .ccr_main_stars {
  display: inline-block;
  float: left;
}
/* line 124, sass/main.scss */
.review_inner .ccr_right .ccr_main_rating {
  display: block;
  float: left;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #000;
  margin-top: 7px;
  margin-left: 10px;
}
/* line 135, sass/main.scss */
.review_inner .ccr_right .ccr_overallRating {
  margin-top: 8px;
  font-size: 20px;
}
/* line 140, sass/main.scss */
.review_inner .ccr_right .ccr_overallRating {
  display: inline-block;
  float: left;
  clear: left;
}
/* line 146, sass/main.scss */
.review_inner .ccr_right img {
  max-width: 50px;
}
/* line 151, sass/main.scss */
.review_inner .ccr_review_row {
  margin-bottom: 15px;
}
/* line 154, sass/main.scss */
.review_inner .ccr_review_row .ccr_left {
  width: 25%;
}
/* line 157, sass/main.scss */
.review_inner .ccr_review_row .ccr_left.ccr_review p {
  text-align: center;
  margin: 5px;
}
/* line 163, sass/main.scss */
.review_inner .ccr_review_row .ccr_review_title {
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 169, sass/main.scss */
.review_inner .ccr_description p {
  font-weight: initial;
}
