$main_font:'Roboto', sans-serif;
$weight_black: 900;
$weight_regular: 100;
$l_green:#599226;
$d_green: #426d1b;
$fnt_sml: 16px;
$fnt_md: 20px;
$fnt_lg: 24px;
$col_red: #f33636;
$sm_bp: "only screen and (max-width:414px)" ;
$md_bp: "only screen and (max-width:1024px)";

body {
	background:rgba(211, 211, 211, 0.23);
	position:relative;
}

img {
	max-width:20px;
}

.review_wrp {
    margin-bottom: 10px;
		width:100%;
		float:left;
}

.review_inner {
	width:100%;
	margin:auto;
	max-width:1240px;

	a.btn {
		display: inline-block;
		margin: 10px;
		text-decoration: none;
	}

	// @media #{$md_bp} {
	// 	width:100%;
	// }

	.pagination {
		display:block;
		float:right;
		font-family:$main_font;


		a.pageBtn {
			padding:10px;
			background:$l_green;
			margin-left:10px;
			text-decoration:none;
			color:#fff;
			display:inline-block;
		}
	}

	input[type="submit"], a.btn {
		padding:12px;
		font-family:$main_font;
		background: $l_green;
		box-sizing: unset;
		border: none;
		font-weight: bold;
		font-size: $fnt_sml;
		color:#fff;

		&:hover {
			background:$d_green;
			transition:ease-in .5s;
			-webkit-transition:ease-in .5s;
		}
	}

	form.ccr_write {
		display: block;
		float: left;
		margin: 10px 0;
	}

	p {
		margin:0;
		font-family:$main_font;
		color:#000;
		font-size:$fnt_sml;
		font-weight:$weight_black;
	}

 	.ccr_main_row, .ccr_review_row, .review_false, .ccr_dash_row {
 		background:#fff;
		display:block;
		float:left;
		width:100%;
		border:1px solid #969696;
 	}

	.ccr_main {

		&.ccr_left {
		font-weight:$weight_black;
		text-align:center;
	}

	.ccr_main_recommend {
		font-size:56px;
	}

}

	.ccr_left {
		width:20%;
		display:inline-block;
		float:left;
		margin:15px;
	}

	.ccr_right {
		display:inline-block;
		float:left;
		padding-left:40px;
		border-left:2px dashed #000;
		min-height:101px;
		width:60%;
		margin:15px;

		.ccr_main_stars {
			display:inline-block;
			float:left;
		}

		.ccr_main_rating {
			display:block;
			float:left;
			font-family:$main_font;
			font-weight:$weight_black;
			font-size:30px;
			color:#000;
			margin-top:7px;
			margin-left:10px;
		}

		.ccr_overallRating {
			margin-top:8px;
			font-size:20px;
		}

		.ccr_overallRating {
			display:inline-block;
			float:left;
			clear:left;
		}

		img {
			max-width:50px;
		}
	}

	.ccr_review_row {
		margin-bottom:15px;

		.ccr_left {
			width:25%;

			&.ccr_review p {
				text-align: center;
    		margin: 5px;
			}
		}

		.ccr_review_title {
			font-size:$fnt_md;
			margin-bottom:10px;
		}
	}

	.ccr_description p {
		font-weight:initial;
	}

	//Styling for the form

	.row.error {
		padding:10px 0;
		margin:10px auto;
		width:100%;
		max-width:1240px;
		background:lightcoral;
		text-align:center;
		font-family:$main_font;
		color:#fff;
	}

	input, select, textarea {
		padding:12px;
	}

	.ccr_write_review {

		.ccr_req, p.ccr_req, span.ccr_req {
			color:red;
			font-family:$main_font;
			font-weight:$weight_black;
			margin:10px 0 10px 10px;
		}

		input[type="text"], textarea {
			width: 90%;
			max-width: 370px;
			background: lightgrey;
			border: none;
			font-family:$main_font;
			}

			.form-row {
				margin:10px;
			}

			.form-row.detail span.ccr_req {
				position:absolute;
			}

			input[type="submit"] {
				margin:10px;
			}
		}

		.review_false {
			h1,p {
				margin-left:10px;
			}
		}

//Dashboard Styling
		.button {
			display: inline-block;
    	margin: 10px;

			&.filter {
				margin: 10px 10px 10px 0;
			}

			&.decline input[type="submit"] {
				background:$col_red;
			}
		}

		.row.filterResults {

			.currentfilter {
				background: #ccc;
		    padding: 12px;
		    display: inline-block;
		    margin-bottom: 10px;
			}

			.clearfilter {
				background:$col_red;
				font-family:$main_font;
				padding:12px;
				color:#fff;
				text-decoration:none;
			}

		}

		.ccr_dash_row {
			margin-bottom:10px;

			p {
				margin-left:10px;
				margin-top:10px;

				span {
					font-weight:$weight_regular;
				}

			}

		}
 }
